<div class="page-header">
	<h1>New Password</h1>
</div>

<form ng-hide="change.hide" name="regForm" ng-submit="change.changePassword(regData, regForm.$valid, confirmed);" novalidate>
	
	<div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
		<label>Password:</label>

		<input ng-disabled="change.disabled" type="password" name="firstPassword" placeholder="Please enter password" class="form-control" ng-model="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\w]).{8,35}$/" ng-minlength="3" ng-maxlength="35" required>

		<p class="help-block" ng-show="(!regForm.firstPassword.$pristine  && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required.</p>

		<ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine  && regForm.firstPassword.$error.maxlength)">
			<li>Must contain at least one upper case letter</li>
			<li>Must contain at least one lower case letter</li>
			<li>Must contain at least one number</li>
			<li>Must contain at least one special character</li>
			<li>Must be at least 8 characters but no more than 35</li>
		</ul>
	</div>

	<br>
	
	<div ng-class="{ 'has-success':(confirmed && !regForm.confirmPassword.$error.required), 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
		<label>Confirm Password:</label>

		<input ng-disabled="change.disabled" type="password" name="confirmPassword" placeholder="Please enter password" class="form-control" ng-change="change.regData.password = confirm" ng-model="confirm" match="{{[firstPassword]}}" required>

		<p class="help-block" ng-show="(!regForm.confirmPassword.$pristine  && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required.</p>

		<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
	</div>
	
	<br>
	<input ng-disabled="change.disabled" type="submit" value="Change Password" class="btn btn-primary" />
</form>

<br>
<div class="jumbotron text-center" ng-show="change.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>
<div class="row show-hide-message" ng-show="change.successMsg">
	<div class="alert alert-success">{{change.successMsg}}</div>
</div>

<br>
<div class="row show-hide-message" ng-show="change.errorMsg">
	<div class="alert alert-danger">{{change.errorMsg}}</div>
</div>