<div class="page-header">
	<h1>User Management</h1>
</div>

<br>

<div class="jumbotron text-center" ng-show="management.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>

<button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>
<button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
<div class="showmore">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-addon">Number of results to display:</span>
			<input type="text" class="form-control" ng-model="number">
		</div>
	</div>
</div>

<div class="navbar-form">
	<div class="form-group">
		<input type="text" class="form-control" name="search" placeholder="Search for..." ng-model="searchKeyword">
	</div>
	<button type="button" ng-click="management.search(searchKeyword,number);" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp Search</button>
	<button type="button" ng-click="management.clear();" class="btn btn-default">Clear</button>
	<a href="/search"><button type="button" class="btn btn-default">Advanced Search</button></a>
</div>

<br>

<div ng-show="searchFilter !== undefined">
	<p><strong>Total results found : </strong>{{(management.users | filter: searchFilter).length}}</p>
</div>

<div ng-show="searchFilter !== undefined">
	<p><strong>Results showing : </strong>{{(management.users | filter: searchFilter | limitTo: management.limit).length}}</p>
</div>

<br>

<div class="row show-hide-message" ng-show="management.showMoreError">
	<div class="alert alert-danger">{{management.showMoreError}}</div>
</div>

<br>
<br>

<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>User Management</strong>
	</div>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
		</tr>
		<tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit">
			<td>{{person.name}}</td>
			<td>{{person.username}}</td>
			<td>{{person.email}}</td>
			<td>
				<a href="/edit/{{person._id}}">
					<button type="button" ng-show="management.editAccess" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp Edit</button>
				</a>
				<button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp Delete</button>
				
			</td>
		</tr>
	</table>
</div>

<br>

<div class="row show-hide-message" ng-show="management.successMsg">
	<div class="alert alert-success">{{management.successMsg}}</div>
</div>
